<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar <a class="get-code" data-toggle="collapse" href="#pgr3"
                                                       aria-expanded="true"><i class="fa fa-code" title=""
                                                                               data-toggle="tooltip"
                                                                               data-original-title="Get Code"></i></a>
        </h4>
        <div class="collapse m-t-15" id="pgr3">
          <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br>&lt;div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%;height:10px;"&gt; &lt;span class="sr-only"&gt;85% Complete&lt;/span&gt;&lt;/div&gt;<br>&lt;/div&gt;</code></pre>
        </div>
        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
               aria-valuenow="85" aria-valuemin="0"
               aria-valuemax="100"
               style="height:10px;"
               [style.width]="progreso + '%'"
               role="progressbar"><span class="sr-only">85% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <app-incrementador [valor]="50" (valor)="progreso = $event" btn-class="btn btn-info"></app-incrementador>
      </div>
    </div>
  </div>
</div>
